<div class="">
  <ul>
    <li *ngFor="let keg of childKegList">
      <div class="row item">
        <div class="col-sm-5">
          <h4>{{keg.name}} by {{keg.brand}}</h4>
          <p>{{keg.type}}, ABV: {{keg.abv}} IBU: {{keg.ibu}}</p>
          <p>Pint: ${{keg.price[0]}} Growler(32oz): ${{keg.price[1]}} Growler(64oz): ${{keg.price[2]}}</p>
        </div>

        <div class="buttons col-sm-4">
          <button (click)="selectKeg([keg, 'edit'])" class="btn btn-info">Edit</button>
          <button (click)="selectKeg([keg, 'delete'])" class="btn btn-info">Delete</button><br>
          <button *ngIf="keg.pints >0" (click)="selectKeg([keg, 'pint'])" class="btn btn-info">Pint</button>
          <button *ngIf="keg.pints >1"(click)="selectKeg([keg, 'grwl32'])" class="btn btn-info">Growler(32oz)</button>
          <button *ngIf="keg.pints >3"(click)="selectKeg([keg, 'grwl64'])" class="btn btn-info">Growler(64oz)</button>
        </div>
        <div class="col-sm-3 card">
          <div [class]="pintCount(keg)">
            <h4>{{keg.pints}} pints left</h4>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <button (click)="onClick()" class="btn btn-info add" type="button" name="button">Add Keg</button>
</div>
